--- 
layout: default 
cards:
 - heading: Small heading 
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error magni dicta nesciunt iure ab modi aliquam expedita veniam autem quis recusandae obcaecati reiciendis, commodi voluptate fuga officia sint cum necessitatibus.
   featured_image: /images/the-sleep-co-bed-2.jpg
 - heading: Small heading 
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error magni dicta nesciunt iure ab modi aliquam expedita veniam autem quis recusandae obcaecati reiciendis, commodi voluptate fuga officia sint cum necessitatibus.
   featured_image: /images/the-sleep-co-bed.jpg
 - heading: Small heading 
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error magni dicta nesciunt iure ab modi aliquam expedita veniam autem quis recusandae obcaecati reiciendis, commodi voluptate fuga officia sint cum necessitatibus.
   featured_image: /images/the-sleep-co-yellow.jpg
--- 

<!---------- Header banner ---------->
    <header class="grid tall-60">

        {% include header-nav.html %}
        
        <div class="col-12-middle text-center"> 
            <h3 class="font-weight-extra-bold">
                <span class="featured-text"> addictively </span> soft
            </h3>
            <h1 class="font-weight-light">
                you won't want to get out of bed
            </h1>
        </div>
    </header>

    <!---------- Text grid sustainability ---------->
    <section class="padded grid bg-featured">
        <div class="padded-sm col-12 text-center">
            <h2> <span class="white-text">features</span> you will love </h2>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, officia minus magnam dolor debitis accusantium ipsam repellat sint rem ipsum sit quisquam voluptatibus. Hic ipsum corrupti mollitia accusamus recusandae nulla!</p>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, officia minus magnam dolor debitis accusantium ipsam repellat sint rem ipsum sit quisquam voluptatibus. Hic ipsum corrupti mollitia accusamus recusandae nulla!</p>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, officia minus magnam dolor debitis accusantium ipsam repellat sint rem ipsum sit quisquam voluptatibus. Hic ipsum corrupti mollitia accusamus recusandae nulla!</p>
        </div>
        <div class="padded-sm col-3">
            <h3> little heading </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, officia minus magnam dolor debitis accusantium ipsam repellat sint rem ipsum sit quisquam voluptatibus. Hic ipsum corrupti mollitia accusamus recusandae nulla!</p>
        </div>
    </section>

    <!---------- Cards ---------->
    <section class="grid padded">

        {% for item in page.cards %}
        <div class="col-4 padded-sm"> 
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                <div class="padded-1">
                    <h3> {{item.heading}} </h3>
                    <p> {{item.description}} </p>
                </div>
            </div>   
        </div>
        {% endfor %}
    </section>

    <!---------- Image banner  ---------->
    <section class="padded text-center bg-dark tall-70 grid">
        <div class="col-12-middle">
            <h3 class="big-text"> 
                <span class="small-text font-weight-normal">spend over $150 and activate </span>
                <br /><span class="featured-text">free</span> express shipping </h3>
        </div>
    </section>

    <!---------- Gallery / about section ---------->
    <section class="grid">
        <div class="padded col-6-middle">
            <h2>
                built to last a <span class="featured-text">lifetime</span>
            </h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum a necessitatibus cupiditate odio! Incidunt ullam nesciunt accusantium cum debitis sunt tempore nostrum, eligendi tenetur architecto sequi maiores quibusdam aperiam vitae.
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-- background image of a bed -->
        </div>
        <div class="bg-image bg-pug col-6 tall-70">
            <!-- background image of a pug sleeping -->
        </div>
        <div class="padded col-6-middle">
            <h2> so <span class="featured-text">soft</span> you'll melt </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sunt odit totam, impedit dolor consequatur eligendi tempore tenetur blanditiis, ut modi, perspiciatis quam iste iure qui quaerat quisquam fuga quasi?</p>  
        </div> 
        <div class="padded col-6-middle">
            <h2>
                built to last a <span class="featured-text">lifetime</span>
            </h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum a necessitatibus cupiditate odio! Incidunt ullam nesciunt accusantium cum debitis sunt tempore nostrum, eligendi tenetur architecto sequi maiores quibusdam aperiam vitae.
            </p>
        </div>
        <div class="bg-image bg-bed col-6 tall-70">
            <!-- background image of a bed -->
        </div>
    </section>